.pizza-singular {
    max-width: 500px;
    max-height: 600px;
    margin-top: 5px;
    border: 1px solid #ddddddf3;
    border-radius: 5px;
    background-color: #fff;
    position: relative; 
    top: -20px; 
  }
  
  .pizza-img {
    width: 100%px;
    height: 200px;
    margin-top: 10px;
    object-fit: cover;
    border-radius: 5px;
  }
  
  .pizza-info {
    padding: 5px;
  }
  
  .pizza-name {
    font-size: 1.1em;
    margin: 0;
    color: #333;
  }
  
  .pizza-desc {
    font-size: 0.8em;
    color: black;
  }
  
  .pizza-price {
    font-size: 1em;
    color: black;
    margin: 10px 0;
  }
  
  .pizza-ingredients {
    font-size: 0.8em;
    color: black;

  }
  
  .add-to-cart-button {
    padding: 10px 20px;
    margin-bottom: 5px;
    font-size: 1em;
    color: white;
    background-color: black;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  
  .add-to-cart-button:hover {
    background-color: rgb(206, 205, 205);
    color: black;
  }
  